@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "" }))
    {
        @Html.AntiForgeryToken()


        @Html.ActionLink("Hesap", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })


        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-sm btn-outline-secondary ">Çıkış Yap</a>


        if(User.IsInRole("Admin"))
        {
            <a class="btn btn-sm btn-success m1-1" href="@Url.Action("Index","Dashboard" , new { area="Admin" })"> Yönet</a>
        }

    }
}
else
{

    <a class="btn btn-sm btn-outline-secondary m1-1" href="@Url.Action("Register","Account")">Kayıt Ol</a>

    <a class="btn btn-sm btn-outline-secondary m1-1" href="@Url.Action("Login","Account")">Giris Yap</a>


}
